{% extends "layouts.html" %}

{% block content %}
    <div id="intro" class="text-center container-fluid">
        <h1 class="text-center">Dont waste, donate!</h1>
        <p>In an age of accelerated consumption, we often find ourselves surrounded by items that no longer serve us.
            Whether it's a piece of clothing we no longer wear, an appliance that has been replaced by a newer model, or furniture that no longer fits our home's current decor.
            However, before considering discarding these items, it's crucial to reflect on the importance of not wasting. <br><br>letsDonate emerges with a clear mission: to give these items a second life and, at the same time, help those in greatest need.
            Remember, what may seem useless to you can be a treasure to someone else. <br><br>The coat at the back of your closet could be the solution for someone braving the bitter cold. The appliance you no longer use might be the answer to another family's daily needs.
            And the furniture that no longer fits in your living room could be precisely what someone else was looking for. At letsDonate, we believe in reuse as a way to combat waste and promote solidarity. <br><br>After all, in a society increasingly aware of its social and environmental responsibility, it's essential that each of us does our part.
            Don't waste, donate. Because your generosity can transform someone's life. And with letsDonate, this gesture becomes even easier and more meaningful. Join us on this mission and make a difference in the lives of many!</p>
        <a class="nav-button"  href="/item_table">Let me see the available donations</a>
    </div>
{% endblock %}
