{% extends "layouts.html" %}

{% block content %}
    <div class="d-flex justify-content-center ml-3">
        <form action="/login" method="post" id="page" class="mb-3 mt-3">
            <div class="">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
            </div>
            <div class="text-center">
                <button class="nav-button contact-btn justify-content-center" type="submit">Log In</button>
            </div>
        </form>
    </div>
{% endblock %}
